$Viewport-sm: 350px;
$Viewport-md: 768px;
$Viewport-lg: 1224px;

#new-grid{
    width: 100%;
    // min-height: 100vh;
    display: grid;
    grid-template-areas: " header main main"
                          "header main main"
                           "header main main"
                          "footer footer footer";

                          @media(min-width: $Viewport-sm){
                            grid-template-columns: 1fr;
                            grid-template-rows: 1fr 45px;
                          }

                          @media(min-width: $Viewport-md){
    grid-template-columns: minmax(max-content, 250px) 450px 1fr;
    grid-template-rows: 1fr 1fr 1fr 80px;
                          }
}

#new-grid > header{
 border-right: 1px solid #ccc;

  @media(min-width: $Viewport-sm){
    position: absolute;
    z-index: 2;
  }

  @media(min-width: $Viewport-md){
    position: relative;
    grid-area: header;
    background-color: $background;
  }
  
}

#new-grid > main{

    @media(min-width: $Viewport-sm){
        position: absolute;
        height:90vh;
      }
    
    @media(min-width: $Viewport-md){
        grid-area: main;
        position: relative;
        height: minmax(1200px, max-content);
                              }
  
    background: white;
}

#new-grid > main.page-fullslider{

}

#new-grid > footer{

    @media(min-width: $Viewport-sm){
        height:10vh;
      }

    @media(min-width: $Viewport-md){
        height: auto;
        position: relative;
    }

    grid-area: footer;
    background: white;
    border-top: 1px solid #ccc;
}

 #gallery-modal{
    background: purple;
    grid-area: main;
}

.main-wrap{
    height: 100%;
}

#gallery-grid{
    display: grid;
    height: 100%;
    // grid-template-columns: repeat(12, 1fr);
    grid-template-columns:  repeat(5, minmax(100px, 200px));
    grid-template-rows: repeat(3 ,1fr);
}
