$Viewport-sm: 350px;
$Viewport-md: 768px;
$Viewport-lg: 1224px;

#new-grid{
    border: 2px solid red;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: " header main main"
                          "header main main"
                          "footer footer footer";

                          @media(min-width: $Viewport-sm){
                            grid-template-columns: 1fr;
                            grid-template-rows: 1fr  45px;
                          }

                          @media(min-width: $Viewport-md){
    grid-template-columns: minmax(max-content, 250px) 250px 1fr;
    grid-template-rows: 1fr  200px 45px;
                          }
}

#new-grid > header{
 

  @media(min-width: $Viewport-sm){
    position: absolute;
  }

  @media(min-width: $Viewport-md){
    position: relative;
    grid-area: header;
    background-color: blue;
  }
  
}

#new-grid > main{
    @media(min-width: $Viewport-md){
        grid-area: main;
                              }
  
    background: coral;
}

#new-grid > footer{
    grid-area: footer;
    background: lightgreen;
}

 #gallery-modal{
    background: purple;
    grid-area: main;
}

.main-wrap{
    height: 100%;
}

#gallery-grid{
    display: grid;
    height: 100%;
    border: 2px solid yellow;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3 ,1fr);
}
