#new-grid {
  border: 2px solid red;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: " header main main" "header main main" "footer footer footer"; }
  @media (min-width: 350px) {
    #new-grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr  45px; } }
  @media (min-width: 768px) {
    #new-grid {
      grid-template-columns: minmax(max-content, 250px) 250px 1fr;
      grid-template-rows: 1fr  200px 45px; } }

@media (min-width: 350px) {
  #new-grid > header {
    position: absolute; } }

@media (min-width: 768px) {
  #new-grid > header {
    position: relative;
    grid-area: header;
    background-color: blue; } }

#new-grid > main {
  background: coral; }
  @media (min-width: 768px) {
    #new-grid > main {
      grid-area: main; } }

#new-grid > footer {
  grid-area: footer;
  background: lightgreen; }

#gallery-modal {
  background: purple;
  grid-area: main; }

.main-wrap {
  height: 100%; }

#gallery-grid {
  display: grid;
  height: 100%;
  border: 2px solid yellow;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr); }

body {
  background: #CDCACC; }

header {
  background: pink; }

.fadeOut {
  opacity: 0;
  top: 50px;
  transition: 1s all ease; }

.fadeIn {
  opacity: 1;
  top: 0px;
  transition: 1s all ease; }

#gallery-container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  grid-column: 1 / span 12;
  grid-row: 1/ span 3;
  overflow: hidden;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  display: grid; }
  #gallery-container .image-wrap {
    height: auto;
    grid-column: span 2;
    background-image: cover;
    padding: 10px; }
    #gallery-container .image-wrap:hover {
      cursor: pointer; }
    @media (min-width: 350px) {
      #gallery-container .image-wrap {
        width: 100%; } }
    @media (min-width: 768px) {
      #gallery-container .image-wrap {
        width: 100%; } }

#gallery-label--wrap {
  position: relative; }

#gallery-label {
  border: 2px solid black;
  background: #fff;
  grid-column: 1 / span 2;
  grid-row: 2;
  overflow: hidden;
  z-index: 3; }
  #gallery-label .gallery-label--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; }
    #gallery-label .gallery-label--content a {
      position: relative;
      top: 0px;
      transition: top .25s ease-in;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5); }
      #gallery-label .gallery-label--content a:hover {
        cursor: pointer;
        top: -1.5px;
        box-shadow: 0px 2px 2.5px rgba(0, 0, 0, 0.5);
        transition: top .25s ease-in; }
  #gallery-label #gallery-label--title {
    padding: 0px 25px;
    font-size: 24px; }
  #gallery-label #gallery-label--desc {
    padding: 15px 0px; }

div#gallery-overlay {
  grid-column: 1 / span 12;
  grid-row: 1/ span 3;
  background: rgba(0, 0, 0, 0.75);
  z-index: 2;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex; }
  div#gallery-overlay.hidden {
    opacity: 0;
    visibility: hidden;
    transition: all .25s ease; }
    div#gallery-overlay.hidden img.overlay_img {
      top: 80px;
      transition: all .25s ease; }
  div#gallery-overlay.visible {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: all .25s ease; }
    div#gallery-overlay.visible img.overlay_img {
      top: 0px;
      transition: all .25s ease; }
  div#gallery-overlay img.overlay_img {
    border: 2px solid black;
    position: relative;
    max-height: 800px !important; }
